@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to product</h1>
    @if (Model != null)
    {
        <p>Product id is: @(Model.Name).</p>
        <p>@Model.Description</p>
    }
    else
    {
        <p>This product does not exist!</p>
    }
</div>
