@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MicroMarket!</h1>
    <p><a href="@Url.Action("Page", "Browse")">Click here to browse products.</a></p>
</div>
